/* components/Button.module.css */
.button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: darken(var(--button-bg-color, #007bff), 10%);
  }
  
  .button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
  }
  
  /* Button with outline effect */
.button.outline {
  color: #007bff; /* Default text color */
  background-color: transparent;
  border: 2px solid #007bff; /* Border color */
}

.button.outline:hover {
  color: #0056b3; /* Text color on hover */
  border-color: #0056b3; /* Border color on hover */
}

.button.outline:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}
  